.code{ height:auto; padding:20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code pre{ font-family:"Courier New";font-size:14px;}
.info{ font-size:12px; color:#666666; font-family:Verdana; margin:20px 0 50px 0;}
.info p{ margin:0; padding:0; line-height:22px; text-indent:40px;}
h2.title{ margin:0; padding:0; margin-top:50px; font-size:18px; font-family:Verdana;}
h3.title{ font-size:16px; font-family:Verdana;}
.importInfo{ font-family:Verdana; font-size:14px;}


#nav {
    height: 35px;
    width: 1000px;
}
#nav ul {
    margin: 0 0 0 30px;
    padding: 0px;
    font-size: 12px;
    color: rgb(102,102,102);
    line-height: 35px;
	font-weight:bold;
    white-space: nowrap;
}
#nav li {
    list-style-type: none;
    display: inline;
}
#nav li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 20px;
    color: rgb(102,102,102);
}
#nav li a:hover {
    color: #ff0;
    background-color: rgb(1,84,138);
}

#main
{
	margin:0 auto;
	width:1004px;
	height:880px;
	background-color:white;
}
#header
{
	margin:0 auto;
	width:1000px;
	height:161px;
	margin-top:2px;
}
#menu
{
	width:1000px;
	height:35px;
	background-image:url(../img/menu_bg.gif);
	margin:0 auto;
}
.content
{
	width:1000px;
	margin:0 auto;
	margin-top:5px;
}
#news
{
    width:430px;
	height:213px;
	float:left;
	margin-left:5px;
	background-image:url(../img/news_bg.jpg);
}
.page_bg_color
{
	background-color:rgb(247,247,247);
}


.list{
 text-align: left; 
 font-size:12px;
 position:relative;
 right:25px;
 bottom:14px;
}

.list ul{
 margin: 0px;
 padding: 0px;
}

.list li{
list-style-type:none;
 width: 100%;
 margin:0px;
 padding:0px;
}

.list li a{
 text-decoration:none; 
 color: #777777;
 display: block;
 padding: 6px 0px 4px 15px;
 background: url(../img/point1.gif) no-repeat 0 6px;
}

.list li span{
 float: right;
 text-align: right;
  padding: 6px 0px 4px 15px;
}

.list li a:hover{
text-decoration:underline;
 color:#b15d03;
}

#sign_up
{
	float:left;
	width:240px;
	height:213px;
	margin-left:5px;
}
#sign_up input
{
	border:1px rgb(0,108,172) solid;
}

.textborder
{
  border-top:1px rgb(227,227,229) solid;
  border-left:1px rgb(227,227,229) solid;
  border-right:1px rgb(227,227,229) solid;
  border-bottom:4px rgb(227,227,229) solid;
  font-size:12px;
  padding:4px;
  width:212px;
  line-height:16px;
} 
.infobox
{
  float:left;
  height:156px;
  width:242px;
}

#footer
{
   background-color:rgb(36,104,185);
   height:90px;
   width:980px;
   text-align:center;
   margin-left:auto;
   margin-right:auto;
   margin-top:5px;
   font-size:12px;
   color:white;
   padding:10px;
   line-height:20px;
}

.section {padding:0px; }
.half_section{float:left;width:242px;display:block; margin:0 0px 5px 0px;_margin:0 0px 5px 6px;}
.half_section ul{margin:0px;padding:0px;list-style-type:none;padding-top:5px;repeat-y;font-size:12px;}
.half_section li{line-height:15px;padding:2px 0 2px 5px;text-align:left; }
.half_section li a{text-decoration:none;color:rgb(0,102,204); }
.half_section li a:hover{text-decoration:underline; color:#dc923b;}
.half_section span{float:right; color:#999999;}
.h1_style {height:22px;color:#000;display:block;font-weight:bold;margin:0px;padding:0px; text-indent:30px; line-height:23px; font-size:14px;border-bottom:1px solid #cbcaf1;}
.half_section_h1{ padding:7px 0px; margin:0 10px;}
.morelink { text-align:right; margin-right:20px; margin-top:5px;}
.clearfix{ clear:both; font-size:1px; width:1px; height:0px; overflow: hidden; display: block;}