
* {
    margin: 0px;
    padding: 0px;
}

a{
    padding: 0 3px;
    font-weight: 600;
}

span{
    padding: 0 5px;
    font-family: 微软雅黑,新宋体;
    font-weight: 600;
}

.container{
    position: relative;
    left: 50%;
    width: 840px;
    height: auto;
    min-height: 100%;
    margin-left: -420px;
}

.content{
    position: relative;
    left: 20px;
    top: 0px;
    width: 800px;
    height: auto;
    padding-bottom: 60px;
    text-align: center;
    overflow: visible;
}

.chartWrapper{
    position: relative;
    text-align: center;
    margin-top: 60px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: auto;
    overflow: hidden;
}

.tableWrapper{
    text-align: center;
    margin-top: 20px;
    width: 400px;
    height: auto;
}

.paperWrapper{
    margin-top: 80px;
    width: 800px;
    height: auto;
    background-color: #fff;
    border-color: #101010;
    -webkit-box-shadow: 10px 10px 25px #ccc;
　　-moz-box-shadow: 10px 10px 25px #ccc;
　　box-shadow: 10px 10px 25px #ccc;
}

.paperHeader{
    position: relative;
    top: 0px;
    left: -20px;
    width: 840px;
    height: 80px;

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

    -moz-box-shadow:0px 2px 5px #a6a6a6;
    -webkit-box-shadow:0px 2px 5px #a6a6a6;
    box-shadow:0px 2px 5px #a6a6a6;
    text-align: left;
}

.paperTitle{
    position: relative;
    color: #000000;
    font-size: 17pt;
    font-family: "新宋体,Verdana";
    font-weight: bold;
    text-align: left;
    top: 4px;
    left: 40px;
    width: 90%;
    line-height: 35px;
    text-shadow:1px 1px 4px #a3a3a3;
}

.userInfoCell{
    text-align:center;
    vertical-align:middle;
    border: none !important;
}

.userInfoTable{
    border-collapse:collapse;
}

table.scoresTable, td.scoresCell, td.yourScoresCell, td.domainCell, td.schoolAvgCell, td.regionAvgCell{
    font:100% Arial, Helvetica, sans-serif;
}

td.schoolAvgCell, td.regionAvgCell{
    font:100% Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

td.schoolAvgCell{
    color: #3d8cff;
}

td.regionAvgCell{
    color: #1FC20E;
}

td.urCell, td.rateCell{
    font-size: 13pt;
    font-weight: 700;
    color: #e57b15;
}

td.fullScoreCell{
    font-size: 13pt;
}

td.yourScoresCell{
    color: #006600;
    font-size: 12pt;
    font-weight: 700;
}

td.yourFailedScoresCell{
    color: #ea000f;
    font-size: 12pt;
    font-weight: 700;
}

td.domainCell{
    color: #2961b0;
    font-size: 11pt;
    font-weight: 700;
}

table.scoresTable{width:100%;border-collapse:collapse;margin:1em 0;}
table.scoresTable th, table.scoresTable td{text-align:center;padding:.5em;border:1px solid #fff;}
th.scoresTitle{background:#328aa4 url("../img/tr_back.gif") repeat-x;color:#fff;}
table.scoresTable td {background:#e5f1f4;}

tr.even td{background:#e5f1f4;}
tr.odd td{background:#f8fbfc;}

tr.odd td.yourScoresCell{background:#e5f1f4;}
tr.odd td.yourFailedScoresCell{background:#e5f1f4;}

th.over, tr.even th.over, tr.odd th.over{ background:#4a98af;}
th.down, tr.even th.down, tr.odd th.down{background:#bce774;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}
td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}
td.selected, tr.even td.selected, tr.odd td.selected{background:#bce774;color: #555;}

td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}

body{
    background: url("../img/Elegant_Background-4.jpg") 100% 100% no-repeat;
    background-size: cover;
    min-width: 800px;
}

.header{
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-width: 960px;
    height: 60px;
    vertical-align: middle;
    z-index: 100;
}

.headerLeft{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.headerWrapper{
    position: relative;
    width: 700px;
    height: 100%;
    left: 37%;
    margin-left: -350px;
    display: table;
}

.headerInfoWrapper{
    padding: 6px 30px;
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    white-space: nowrap;
}

.headerInfoWrapper a{
    color: #000;
    font-size: 13pt;
    font-family: 微软雅黑,黑体,Verdana;
    font-weight: 700;
}

.headerInfoWrapper a.contestantName{
    font-size: 15pt;
}

.headerWrapper span{
    color: #fff;
    font-size: 25pt;
    font-weight: 800;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.headerRight{
    position: absolute;
    right: 0px;
    top: 10px;
}

.headerRight span{
    float: left;
    color: #fff;
    font-size: 16pt;
    margin-top: 8px;
    font-weight: bold;
}

.logo{
    width: 24px;
    height: 24px;
    margin: 8px 15px 0px 8px;
}

#detailWrapper{
    position: relative;
    left: 0;
    top: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top: 2px dashed #2961b0;
    padding-bottom: 20px;
}

.separate{
    font-size: 12pt;
    color: #595959;
    height: 30px;
    text-align: left;
    border-top: 1px solid #fff;
    -webkit-box-shadow: 0px 4px 4px 1px #ADADAD;
    -moz-box-shadow: 0px 4px 4px 1px #ADADAD;
    box-shadow: 0px 4px 4px 1px #ADADAD;

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );


    cursor: pointer;
}

#tableWrapper .tableInnerWrapper{
    position: relative;
    left: 50%;
    margin: 10px 0 15px -300px;
    width: 600px;

    -moz-box-shadow:0px 0px 5px 2px #a3a3a3;
    -webkit-box-shadow:0px 0px 5px 2px #a3a3a3;
    box-shadow:0px 0px 5px 2px #a3a3a3;
}

.answerTitle{
    width: 100%;
    min-width: 200px;
    height: 35px;
    font-weight: bold;
    font-size: 18pt;
    font-family: 微软雅黑,黑体,Verdana;
    text-align: left;
    color: #393939;
    text-shadow:1px 1px 3px #a2a2a2;
    padding: 10px 30px;
    vertical-align: middle;
}

.answerTitle .separate{
    cursor:move;
    width: 100%;
    min-width: 200px;
    height: 35px;
    font-size: 13pt;
    font-family: 微软雅黑,黑体,Verdana;

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

    color: #595959;
    text-align: left;
    vertical-align: middle;
}

.answerTitle a{
    position: relative;
    top: 7px;
    padding: 5px 0px 0 20px;
}

.tableTitle{
    font-family: 宋体;
    font-size: 17pt;
    padding: 5px 50px;
}

.scoreCell{
    position: relative;
    width: 350px;
    height: 200px;
    vertical-align: middle;
    border-right: 2px #2961b0 dashed;
}

.scoreCell a{
    font-family: 楷体;
    font-size: 25pt;
    text-shadow:2px 2px 4px #9c9c9c;
}

.scoreCell p{
    font-family: 微软雅黑;
    font-size: 29pt;
    font-weight: 700;
    text-align: left;
    padding: 20px 0 0 35px;
    color: #333333;
    text-shadow:1px 1px 3px #9c9c9c;
}

.scoreCell b{
    font-family: Constantia;
    font-size: 52pt;
    font-weight: bold;
    color: #ff7d1a;
    text-shadow:1px 1px 2px #cbc6b7;
}

.cellMask{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 100%;
    height: 100%;
    z-index: 60;
}


.rankCell{
    display: table-cell;
    vertical-align: middle;
    width: 350px;
    height: 200px;
    padding-left: 60px;
}

.rankCell p, .rankCell a{
    font-family: "微软雅黑";
    font-size: 17pt;
    font-weight: 700;
    text-align: left;
    color: #454545;
    text-shadow:1px 1px 3px #c6c6c6;
}

.rankCell a{
    text-align: right;
    padding-left: 10px;
}

.rankCell b{
    font-family: Constantia;
    font-size: 31pt;
    font-weight: bold;
    color: #3d8cff;
    text-shadow:1px 1px 2px #cdcec2;
}

.column{
    position: relative;
    left: 0;
    top: 10px;
    width: 100%;
    height: auto;
    display: table;
    border-top: 2px #2961b0 dashed;
}

.firstcolumn{
    position: relative;
    left: 0;
    top: 10px;
    width: 100%;
    height: auto;
    display: table;
    border-top: none;
}

#quesTypeTable{
    position: relative;
    left: 50%;
    top: 0;
    margin: 0 0 35px -310px;
    width: 620px;

    -moz-box-shadow:0px 0px 5px 2px #a3a3a3;
    -webkit-box-shadow:0px 0px 5px 2px #a3a3a3;
    box-shadow:0px 0px 5px 2px #a3a3a3;
}

#domainTable{
    position: relative;
    left: 50%;
    top: 0px;
    width: 720px;
    margin-left: -360px;

    -moz-box-shadow:0px 0px 5px 2px #a3a3a3;
    -webkit-box-shadow:0px 0px 5px 2px #a3a3a3;
    box-shadow:0px 0px 5px 2px #a3a3a3;
}

.domainCompareCell{
    width: 340px;
    height: 220px;
    display: table-cell;
}

.scoreCompareCell{
    width: 340px;
    height: 220px;
    display: table-cell;
    border-right: 2px dashed #2961b0;
}

.scoreCompareCell p{
    font-family: 新宋体;
    font-size: 15pt;
    font-weight: 700;
    text-align: right;
    padding-right: 60px;
    padding-top: 15px;
    color: #000000;
    text-shadow:1px 1px 3px #8e8e8e;
}

.scoreWrapper div{
    font-family: Constantia;
    font-size: 18pt;
    font-weight: bold;
    width: 60px;
    color: #fff;
    height: 30px;
    margin: 0 0px 0 auto;
    text-align: left;
}

.scoreWrapper div a{
    padding-left: 20px;
}

.scoreWrapper{
    width: 220px;
    height: 30px;
    margin: 2px 60px 0 auto;
}

.domainCompareCell p{
    font-family: 新宋体;
    font-size: 15pt;
    font-weight: 700;
    text-align: left;
    padding-left: 60px;
    padding-top: 15px;
    color: #000000;
    text-shadow:1px 1px 3px #8e8e8e;
}

.domainWrapper div{
    font-family: Constantia;
    font-size: 18pt;
    font-weight: bold;
    width: 60px;
    color: #fff;
    height: 30px;
    text-align: right;
}

.domainWrapper div a{
    padding-right: 20px;
}

.domainWrapper{
    width: 220px;
    height: 30px;
    margin: 2px 0 0 60px;
}

.holder{
    width: 700px;
    position: relative;
    left: 40px;
    top: -10px;
    height: 40px;
}

#nav{
    display: none;
}

.toolButton{
    position: relative;
    top: 0px;
    left: 0px;
    width: 44px;
    height: 44px;
    border: 1px solid #fff;
    -moz-box-shadow: 0px 0px 1px 2px #e9e9e9;
    -webkit-box-shadow: 0px 0px 1px 2px #e9e9e9;
    box-shadow: 0px 0px 1px 2px #e9e9e9;
    cursor: pointer;
}

.toolButton div{
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: #fff;
    background: rgba( 0, 0, 0, 0.2 );
}

.toolButton table{
    margin-left: 2px;
    margin-top: -1px;
}

.toolButton td{
    padding: 0px 1px;
    color: #fff;
    font-size: 11pt;
    font-family: 微软雅黑;
    font-weight: 600;
}

.toolButton:hover div{
    visibility: visible;
}

.scrollToTop{
    background: url("../img/scrollToTop.png") center no-repeat;
}

.print{
    margin-top: 15px;
    background: url("../img/print.png") center no-repeat;
}

.footerHolder{
    display: block;
    padding: 35px 0;
}