
* {
    margin: 0px;
    padding: 0px;
}

a{
    padding: 0 3px;
    font-weight: 600;
}

span{
    padding: 0 5px;
    font-family: 微软雅黑,新宋体;
    font-weight: 600;
}

.container{
    position: relative;
    left: 50%;
    width: 840px;
    height: auto;
    min-height: 100%;
    margin-left: -420px;
}

.content{
    position: relative;
    left: 20px;
    top: 0px;
    width: 800px;
    height: auto;
    padding-bottom: 60px;
    text-align: center;
    overflow: visible;
}

.tableWrapper{
    text-align: center;
    margin-top: 20px;
    width: 400px;
    height: auto;
}

.paperWrapper{
    width: 800px;
    height: auto;
    background-color: #fff;
    border-color: #101010;
}

.paperHeader{
    position: relative;
    top: 0px;
    left: -20px;
    width: 840px;
    height: 80px;
    text-align: left;
}

.paperTitle{
    position: relative;
    color: #000000;
    font-size: 17pt;
    font-family: "新宋体,Verdana";
    font-weight: bold;
    text-align: left;
    top: 4px;
    left: 40px;
    width: 90%;
    line-height: 35px;
}

.userInfoCell{
    text-align:center;
    vertical-align:middle;
    border: none !important;
}

.userInfoTable{
    border-collapse:collapse;
}

table.scoresTable, table.scoresTable td{
    font:100% Arial, Helvetica, sans-serif;
}

table.scoresTable{width:100%;border-collapse:collapse;margin:1em 0;border: 1px solid #000}
table.scoresTable th, table.scoresTable td{text-align:center;padding:.5em;border:1px solid #000;}
table.scoresTable td.urCell{ font-family :Constantia; font-weight: bold; font-size: 15pt }
table.scoresTable th{ font-family: 黑体; font-size: 13pt}
body{
    background-size: cover;
    min-width: 800px;
}

.header{
    position: relative;
    width: 860px;
    left: 50%;
    margin-left: -430px;
    text-align: center;
}

.headerLeft{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.headerWrapper{
    position: relative;
    display: table;
}

.headerInfoWrapper{
    background: none;
    padding: 6px 30px;
    border-radius: 6px 6px 6px 6px;
    white-space: nowrap;
}

.headerInfoWrapper a{
    color: #000;
    font-size: 13pt;
    font-family: 宋体,Verdana;
    font-weight: 600;
    padding-left: 20px;
}

.headerInfoWrapper a.contestantName{
    font-size: 16pt;
}

.headerWrapper span{
    font-size: 30pt;
    font-weight: 800;
    white-space: nowrap;
    display: table-caption;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 0px 40px;
}

.headerRight{
    position: absolute;
    right: 0px;
    top: 15px;
}

.headerRight span{
    float: left;
    color: #a0a0a0;
    font-size: 16pt;
    margin-top: 8px;
    font-weight: bold;
}

.logo{
    width: 24px;
    height: 24px;
    margin: 8px 15px 0px 8px;
}

#detailWrapper{
    display: none;
}

.separate{
    display: none;
}

.answerTitle{
    width: 100%;
    min-width: 200px;
    height: 35px;
    font-weight: bold;
    font-size: 18pt;
    font-family: 微软雅黑,黑体,Verdana;
    text-align: left;
    color: #393939;
    padding: 12px 30px 7px;
    vertical-align: middle;
}

.answerTitle a{
    position: relative;
    top: 7px;
    padding: 5px 0px 0 20px;
}

.tableTitle{
    font-family: 宋体;
    font-size: 14pt;
    padding: 5px 50px;
}

.scoreCell{
    position: relative;
    width: 400px;
    height: 200px;
    vertical-align: middle;
    border-top: 2px #000 dashed;
}

.scoreCell a{
    font-family: 楷体;
    font-size: 27pt;
}

.scoreCell p{
    font-family: 微软雅黑;
    font-size: 31pt;
    font-weight: 700;
    text-align: left;
    padding: 35px 0 0 35px;
    color: #000000;
}

.scoreCell b{
    font-family: Constantia;
    font-size: 53pt;
    font-weight: bold;
    color: #000;
}

.cellMask{
    display: none;
}

.rankCell{
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    height: 200px;
    padding-left: 60px;
    border-top: 2px #000 dashed;
}

.rankCell p, .rankCell a{
    font-family: "微软雅黑";
    font-size: 17pt;
    font-weight: 700;
    text-align: left;
    color: #000;
}

.rankCell a{
    text-align: right;
    padding-left: 10px;
}

.rankCell b{
    font-family: Constantia;
    font-size: 27pt;
    font-weight: bold;
    color: #000;
}

.column{
    position: relative;
    left: 0;
    top: 10px;
    padding: 5px 0;
    width: 100%;
    height: auto;
    display: table;
    border-top: 2px dashed #000;
}

.firstcolumn{
    position: relative;
    left: 0;
    top: 8px;
    width: 100%;
    height: auto;
    display: table;
    border-top: none;
}

#quesTypeTable{
    position: relative;
    left: 50%;
    top: 0;
    margin: 0 0 5px -320px;
    width: 640px;
    padding: 2px 0;
}

#domainTable{
    position: relative;
    left: 50%;
    top: 0px;
    width: 800px;
    margin-left: -400px;
    padding: 2px 0;
}

.domainCompareCell{
    width: 340px;
    height: 210px;
    display: table-cell;
}

.scoreCompareCell{
    width: 340px;
    height: 210px;
    display: table-cell;
}

.scoreCompareCell p{
    font-family: 新宋体;
    font-size: 15pt;
    font-weight: 700;
    padding-right: 60px;
    padding-top: 15px;
    color: #000000;
    text-align: left;
    margin-left: 70px;
}

.scoreWrapper div{
    font-family: Constantia;
    font-size: 14pt;
    font-weight: bold;
    width: 60px;
    color: #000000;
    height: 24px;
    text-align: center;
    margin-left: 70px;
}

.scoreWrapper div a{
    padding-left: 20px;
}

.scoreWrapper{
    width: 220px;
    height: 24px;
}

.domainCompareCell p{
    font-family: 新宋体;
    font-size: 15pt;
    font-weight: 700;
    text-align: left;
    padding-left: 70px;
    padding-top: 15px;
    color: #000000;
}

.domainWrapper div{
    font-family: Constantia;
    font-size: 14pt;
    font-weight: bold;
    width: 60px;
    color: #000;
    height: 24px;
    text-align: center;
}

.domainWrapper div a{
    padding-right: 20px;
}

.domainWrapper{
    width: 220px;
    height: 24px;
    margin: 2px 0 0 70px;
}

.holder{
    width: 700px;
    position: relative;
    left: 40px;
    top: -10px;
    height: 40px;
}

#nav{
    display: none;
}

.toolButton{
    display: none;
}

.toolButton div{
    display: none;
}

.toolButton table{
    display: none;
}

.toolButton td{
    display: none;
}

.toolButton:hover div{
    display: none;
}

.scrollToTop{
    display: none;
}

.print{
    display: none;
}

.horizontalbar{
    background: none;
    border: 1px solid #000000;
    font-weight: bold;
}